Node_RED-code/flow_dashboard.json
[{"id":"47d5f716.873198","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4b819916.5e3b88","type":"mqtt in","z":"47d5f716.873198","name":"","topic":"sensor/time","qos":"2","datatype":"auto","broker":"fca621bd.02347","x":130,"y":260,"wires":[["faa1df71.1af1c","acf446fb.c65fa8"]]},{"id":"faa1df71.1af1c","type":"ui_gauge","z":"47d5f716.873198","name":"","group":"abf05c1f.080b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Time","label":"ms","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1500","seg2":"3000","x":450,"y":260,"wires":[]},{"id":"c0a980e3.5292d","type":"ui_text","z":"47d5f716.873198","group":"abf05c1f.080b8","order":4,"width":0,"height":0,"name":"","label":"Speed [m/s]","format":"{{value}} m/s","layout":"row-spread","x":599.0000610351562,"y":312.0000057220459,"wires":[]},{"id":"5a608cc1.773c34","type":"ui_slider","z":"47d5f716.873198","name":"","label":"slider","tooltip":"","group":"a8f985ff.b6ae28","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"50","step":"1","x":150,"y":780,"wires":[["e69614f8.d81538","81717bfe.492f28"]]},{"id":"e69614f8.d81538","type":"ui_gauge","z":"47d5f716.873198","name":"","group":"a8f985ff.b6ae28","order":2,"width":0,"height":0,"gtype":"gage","title":"Enter Voltage","label":"Volt","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"35","x":400,"y":780,"wires":[]},{"id":"7cd44180.c83bb","type":"mqtt out","z":"47d5f716.873198","name":"","topic":"sensor/voltage","qos":"","retain":"","broker":"98d60319.36101","x":620,"y":860,"wires":[]},{"id":"50a1d396.76f5cc","type":"ui_switch","z":"47d5f716.873198","name":"SetVoltage","label":"switch","tooltip":"","group":"a8f985ff.b6ae28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":900,"wires":[["81717bfe.492f28"]]},{"id":"81717bfe.492f28","type":"function","z":"47d5f716.873198","name":"final function","func":"var state = context.get('state') || false;\n\nif (msg.topic == 'switch') {\n    state = msg.payload;\n    context.set('state', state);\n}\n\nvar message;\nif (state === false){\n    message = 0;\n    //msg.payload = message;\n    //return msg;\n}\nelse if (state === true){\n    message = 1;\n}\n\nif (message === 1){\n    if (msg !== 'true')\n        return msg\n}\n    \n\n","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["7cd44180.c83bb"]]},{"id":"acf446fb.c65fa8","type":"function","z":"47d5f716.873198","name":"speed and output","func":"context.data = context.data || {};\nvar speedp;\nvar cinetic_energy = 0;\nvar electrical_energy = 0;\nvar output = 0;\nvar voltage = 0;\nswitch (msg.topic){\n    case \"sensor/time\":\n        context.data.time = msg.payload;\n        msg = null;\n        break;\n    case \"distance\":\n        context.data.distance = msg.payload\n        msg = null;\n        break;\n    case \"sensor/voltage\":\n        voltage = msg.payload;\n        msg = null;\n        break;\n    case \"sensor/current\":\n        context.data.currentVal = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif (context.data.time !== null && context.data.distance !== null){\n    var speed = context.data.distance / context.data.time * 10;\n    context.data = null;\n    speedp = speed.toPrecision(6);\n    cinetic_energy = 0.01*(speedp*speedp)/2; //mass = 10g\n}\n/*we consider power value as a peak\n  forming a linear function (first degree) of slope P/delta Time (dt) \n  which can be integrated to find energy = E =(P/dt)* (dt)²/2 = (P*dt)/2 \n  for one side of the peak\n  => E = P*dt for both sides of the peak*/\nif ((voltage !== null)&&(context.data.currentVal !== null)){\n    var power = voltage * context.data.currentVal; //peak of power\n    electrical_energy = power*0.05; //dt = 50ms for a 100 ms peak\n}\n\nif ((cinetic_energy !== 0)&&(electrical_energy !== 0)){\n    output = cinetic_energy/electrical_energy;\n}\nreturn[{payload:speedp}, {payload:output}, {payload:electrical_energy}, {payload:cinetic_energy}];\n\n","outputs":4,"noerr":0,"x":370,"y":360,"wires":[["c0a980e3.5292d"],["79e59c7e.b73764"],["fe395a8b.0c76f8"],["df967aa6.b0d438"]],"outputLabels":["speed","output","electric","cinetic"]},{"id":"82d9e15f.36bb8","type":"ui_text_input","z":"47d5f716.873198","name":"","label":"Distance to target [cm]","tooltip":"Enter distance to target","group":"abf05c1f.080b8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"distance","x":140,"y":360,"wires":[["acf446fb.c65fa8"]]},{"id":"a04b4b1d.2dabc8","type":"mqtt in","z":"47d5f716.873198","name":"","topic":"sensor/current","qos":"2","datatype":"auto","broker":"9f80af78.f25bf","x":150,"y":520,"wires":[["1bbc7683.44ba29","acf446fb.c65fa8"]]},{"id":"fac72bb0.b059f8","type":"mqtt in","z":"47d5f716.873198","name":"","topic":"sensor/voltageIn","qos":"2","datatype":"auto","broker":"fca621bd.02347","x":150,"y":640,"wires":[["acf446fb.c65fa8","d679cb5f.b57eb8"]]},{"id":"1bbc7683.44ba29","type":"ui_gauge","z":"47d5f716.873198","name":"","group":"c8ff899f.894d58","order":0,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":520,"wires":[]},{"id":"b2d68460.ccdbf8","type":"ui_text","z":"47d5f716.873198","group":"a8f985ff.b6ae28","order":5,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":980,"wires":[]},{"id":"62feaa93.97a524","type":"mqtt in","z":"47d5f716.873198","name":"","topic":"sensor/conf","qos":"2","datatype":"auto","broker":"fca621bd.02347","x":180,"y":980,"wires":[["b2d68460.ccdbf8"]]},{"id":"79e59c7e.b73764","type":"ui_gauge","z":"47d5f716.873198","name":"","group":"9aaaeb3.fc6d718","order":1,"width":0,"height":0,"gtype":"gage","title":"Output ratio","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#f93706","#00ff00","#ff0000"],"seg1":"10","seg2":"80","x":599.8636512756348,"y":354.00000762939453,"wires":[]},{"id":"fe395a8b.0c76f8","type":"ui_text","z":"47d5f716.873198","group":"9aaaeb3.fc6d718","order":1,"width":0,"height":0,"name":"","label":"Electrical energy","format":"{{value}} J","layout":"row-spread","x":608.8636512756348,"y":397.181827545166,"wires":[]},{"id":"df967aa6.b0d438","type":"ui_text","z":"47d5f716.873198","group":"9aaaeb3.fc6d718","order":2,"width":0,"height":0,"name":"","label":"Cinetic energy","format":"{{value}} J","layout":"row-spread","x":612.863655090332,"y":442.18182849884033,"wires":[]},{"id":"d679cb5f.b57eb8","type":"ui_text","z":"47d5f716.873198","group":"a8f985ff.b6ae28","order":4,"width":0,"height":0,"name":"","label":"Voltage readings","format":"{{value}} V","layout":"row-spread","x":398.86365127563477,"y":637.909143447876,"wires":[]},{"id":"fca621bd.02347","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.36","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abf05c1f.080b8","type":"ui_group","z":"","name":"Speed measurement","tab":"8b31d510.e4e8d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a8f985ff.b6ae28","type":"ui_group","z":"","name":"Voltage parameters","tab":"8b31d510.e4e8d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"98d60319.36101","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.36","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f80af78.f25bf","type":"mqtt-broker","z":"","name":"","broker":"172.17.4.72","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8ff899f.894d58","type":"ui_group","z":"","name":"Current measurement","tab":"8b31d510.e4e8d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9aaaeb3.fc6d718","type":"ui_group","z":"","name":"Energy and output determination","tab":"8b31d510.e4e8d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8b31d510.e4e8d8","type":"ui_tab","z":"","name":"Home - measurement","icon":"dashboard","disabled":false,"hidden":false}]